h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.font-family { 
    font-family: 'Famosa', sans-serif;
}
.orange-color {
    color: orange;
}
.all-word {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

.link-button {
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(rgb(255, 0, 128) , rgb(255, 17, 0));
    color: white;
    border-radius: 5px;
}
.display-style {
    display: flex;
}
 .half-width {
     width: 50%;
     padding: 5%;
 }

.half-width img {
    width: 70%;
    padding: 2%;
}

.table-fonts {
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.table-width {
    width: 25%;
    padding: 3%;
    margin-right: 1%;
    margin-left: 1%;    
}

#icon-size {
    width: 35%;
}

.table-color {
    background-color: rgba(140, 209, 211, 0.171);
    border-radius: 20px;
}

.table-color2 {
    background-color: rgba(206, 122, 203, 0.171);
    border-radius: 20px;
}

.table-color3 {
    background-color: rgba(216, 187, 133, 0.171);
    border-radius: 20px;
}

.table-margin {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 150px;
}

.develop-limit-section {
    width: 50%;
}

.develop-limit-section img {
    width: 70%;
}

.develop-limit-margin {
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 150px;
}
.last-flex {
    width: 50%;
}
 .last-flex img {
     width: 70%;
 }

 .community-margin {
    margin-right: 20%;
    margin-left: 20%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 180px ;
    background-position: right bottom ;
    margin-bottom: 150px;
 }

 .app-sction-margin {
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 150px;
 }
 
.app-sction-width img{
    width: 100%;
    
}

.app-sction-width  {
    width: 50%;
    margin-left: 5%;

}

.apps-h1-text {
    text-align: center;
}

footer {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;;

}
